.eduContainer{
    position: relative;
    width: 90vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 0vh auto;
    justify-content: space-evenly;   
    align-items: center;
}

.eduContainer h1{
    font-size: 3rem;
    font-family: 'Nova cut';
}

.eduContent{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 2vh 0vh;
    justify-content: space-evenly;
    font-family: 'Quicksand';
}

.education{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
}

.education h3{
    margin: 0vh;
}

.education p{
    margin: 0.3vh;
}

@media (min-width: 100px) and (max-width: 700px){
    .eduContainer{
        width: 100%;
        height: 97vh;
        position: relative;
        top: 6vh;
    }

    .eduContainer h1{
        font-size: 2.5rem;
    }

    .eduContent{
        width: 100%;
        height: 90vh;
        justify-content: space-evenly;
    }

    .education{
        width: 45vh;
        height: 20vh;
        font-size: 1.04rem;
        margin: 0vh auto;
    }
}