.footerContainer{
    width: 100%;
    height: 24vh;
    top: 16vh;
    position: relative;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.6vh;
}

.footerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2vh auto;
    width: 45vh;
    height: 20vh;
    font-family: 'Nova cut';
    font-size: 1.01rem;
}

.footerLinks a{
    color: var(--background-color);
    text-decoration: none;
}

.footerLinks a:hover{
    color: var(--highlight-color);
} 

@media (min-width: 365px) and (max-width: 700px){
    .footerContainer{
        width: 100%;
        height: max-content;    
    }

    .footerContent{
        height: max-content;
        font-size: 0.8rem;
        text-align: center;
    }

    .footerContent p{
        margin: 0vh;
        height: 3.2vh;
    }
}

@media (min-width: 701px) and (max-width: 1000px){
    .footerContainer{
        width: 100%;
        height: max-content;    
    }

    .footerContent{
        height: max-content;
        font-size: 1.24rem;
        text-align: center;
    }

    .footerContent p{
        margin: 0vh;
        height: 3.2vh;
    }
}